*.jar
*/build/
*/dist/
*/lib/impl/
*/native/internal_tmp/
.metadata
*/bin/
*/tmp/
*.tmp
*.bak
*.swp
*.zip
*~.nib
local.properties
.loadpath
.recommenders
*/.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.factorypath
.buildpath
